.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
    background: whitesmoke;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    background: whitesmoke;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.woocommerce-cart {
    /* max-width: 450px !important;
    position: absolute;
    right: 0; */
}

.mini-cart-custom {
    /* background-color: red; */
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: black;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
}

.quantity {
    height: 35.7px;
}

/* Other Button */

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    border: 1px solid #767677;
    background-color: white;
    width: 100%;
    padding: 80px auto;
    border-radius: 0px;
    text-align: left;
    text-transform: uppercase;
}

.read-more-btn {
    border: 1px solid #767677;
    background-color: white;
    width: 60%;
    padding: 80px auto;
    border-radius: 0px;
    text-align: left;
    text-transform: uppercase;
}

/* Product Primary Button */
.woocommerce div.product form.cart div.quantity {
    float: none;
    width: 100%;
}

.woocommerce .quantity .qty {
    height: 100%;
    border: none;
    width: 100%;
    border: 1px solid #767677;
}

.swiper {
    width: 600px;
    height: 300px;
}

.woocommerce div.product {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2em;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
    width: 100%;
}

.woocommerce div.product div.images .flex-control-thumbs li {
    width: 50%;
}

.woocommerce div.product .product_title {
    font-size: 1.5rem;
}

.woocommerce div.product div.summary {
    width: 100%;
    margin-top: 50px;
}

/* 
.carousel-control-prev,
.carousel-control-next {
    background-color: red !important;
} */

/* Search */

.card-grid-search-results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 30px 0px;
}

.search-breadcrumb {
    padding: 30px 0px 0px 0px;
}

.header-search-wrapper {
    display: flex;
}

.header-search input :hover {
    color: rgb(32, 97, 137);
}

.header-search-input-wrapper {
    position: relative;
}

.icono-busqueda {
    width: 20px;
    position: absolute;
    right: 20px;
    top: 5px;
}

/* 
.header-search button {
    transition: border ease 1s;
    padding: 0px 30px;
    margin-left: 3px;
    background-color: rgb(81, 25, 172);
    text-overflow: ellipsis;
    border-radius: 22px;
    border-color: #2d3337;
    color: white;

} */

.search_text {
    border-radius: 22px;
    background-color: rgb(250, 249, 251);
}

/* Products Cards */

.woocommerce ul.products li.product a img:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    transition: all 1s ease-out;
}

.woocommerce-LoopProduct-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black !important;
}

.price {
    color: black !important;
    font-size: 14px;
}

.content {
    overflow: hidden;
}

/* Cart */